body {
	color: #005670
}

.error {
	color: #990000;
}


a, a:visited {
	color: #005670;
	text-decoration:none;
}

a:hover, a:active {
	color: #00a4cc;
	text-decoration:none;
}

label {
	font-weight: normal;	
}

.text-h3 {
	color: #005670;
}

/* h4 { */
/* 	color: #333; */
/* } */

/* h4.loja-online { */
/* 	background-color: #e6e6e6; */
/* 	color: #333; */
/* 	padding: 10px; */
/* 	margin-top: 10px; */
/* } */




					nav p {
						color: #F7901D;
					}
					
					nav a, nav a:visited {
						color: #F7901D;
						text-decoration: none;
					}
					
					nav a:hover, nav a:active {
						color: #F7901D;
					    text-decoration: underline;
					}
					
					nav a span{
						color: #F7901D;
					}

.page-link{
	cursor:pointer;
}


.navbar-mercado-de-musica {
	background-color: #FFF;
	border-radius: 4px;
}

.nav-footer {
	background-color: #005670;
}

.navbar-mercado-de-musica .navbar-toggle {
	border-color: #e6e6e6;
	border-radius: 4px;
	
}

.navbar-mercado-de-musica .navbar-toggle .icon-bar {
	background-color: #e6e6e6;
}

.form-group label {
	color: #F7901D;
}

.form-group .categoria{
	color: #005670;
	font-weight: bold;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #666;
	color: #e6e6e6;
}


.datepicker-dropdown {
	background-color: #e8e8e8;
	border: 1px solid #F7901D; 
	color: #F7901D;
}

.datepicker-dropdown thead {
	color: #333;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
	background-color: #F7901D;	
	background-image: -webkit-linear-gradient(top, #F7901D, #f7b71e);
	border-color: #005670;
}


.form-control {
	color: #005670;
	border: 0px;
	background-color: #ebebeb;
	font-style: italic;
	border-radius: 25px;
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
  	box-shadow: none;
	transition: none;
}

.form-control:focus{
	box-shadow: none;
}


.form-control::-webkit-input-placeholder{
    color:#FFF;
    font-style: bold;
}
.form-control::-moz-placeholder {
    color:#FFF;
    font-style: bold;
}​ 

.panel-mercado-de-musica {
	color: #F7901D;
	background-color: #fff;
}


.btn-default {
	background-color: #ebebeb;
	border: 1px solid #ebebeb;
	border-radius: 25px;
	color: #FFF;
}

.btn-primary {
	background-color: #005670;
	border: 1px solid #005670;
	border-radius: 25px;
	color: #F7901D;
	
	
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
	background-color: #005670;
	border: 1px solid #005670;
	border-radius: 25px;
	color:  #f7b71e;
	
	
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	margin-left: 0px !important;
}


.texto-branco {
	color:  #FFF;
}

/* .btn-default-procura { */
/* 	background-color: #F7901D; */
/* 	color: #333; */
/* } */

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
	color: #005670;
	border: 1px solid #ebebeb;
}

.categorias {
	text-align: center;
	color: #F7901D;
	text-transform: uppercase;
	font-weight: bold;
}









.nav-tabs {
	border-bottom: 1px solid #F7901D;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #F7901D;
	color: #FFF;
	border: 0px;
}

.apresentacao-inicial {
	border: 5px #ebebeb solid;
}

.nome-apresentacao-produto {
	color: #005670;
}

.nome-apresentacao-usuario {
	color: #F7901D;
}

.preco-apresentacao-produto-h {
	text-align: center;	
	color: #005670;
}

.preco-apresentacao-produto {
	color: #005670;
	font-weight: bold;
}

.preco-apresentacao-produto:hover{
	color: #f7b71e;
	text-decoration:none;
}

img {
	border-radius: 4% !important;
}

.img-thumbnail {
	border: 0px;
}

.thumbs_detalhamento {
	cursor:pointer;
}

.paginacao {
	background-color: #FFF;
}

.pagination>li>a, .pagination>li>span {
	color: #F7901D;
	border-color:#F7901D;
}

.pagination>li>a:hover, .pagination>li>a:active {
	background-color:#e6e6e6;
	color:#F7901D;
	border-color:#F7901D;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #e8e8e8;
    color: #F7901D;
    border-color:#F7901D;
}


.modal-dialog {
	color: #F7901D;
	background-color: #e8e8e8;
	border-color:#F7901D;
}

.modal-header {
	border-bottom: 1px solid #F7901D;
}

.modal-footer {
	border-top: 1px solid #F7901D;	
}


.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: white;
	text-align: center;
	background-color: #7a7a7a;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.progress-bar.active, .progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-striped, .progress-striped .progress-bar {
	background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .15) 50%,rgba(255, 255, 255, .15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255, 255, 255, .15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .15) 50%,rgba(255, 255, 255, .15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255, 255, 255, .15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .15) 50%,rgba(255, 255, 255, .15) 75%,transparent 75%,transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}



.fundo-cinza {
	background-color: #e6e6e6;
	border-color:#F7901D;
}




.text-mercado-de-musica{
	color: #F7901D;
}


.hr-mercado-de-musica {
	margin-top: 0;
	border-color:#F7901D;
}


.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info {
	background-color: #e6e6e6;
}

.table-hover>tbody>tr.info:hover>td, .table-hover>tbody>tr.info:hover>th, .table-hover>tbody>tr:hover>.info, .table-hover>tbody>tr>td.info:hover, .table-hover>tbody>tr>th.info:hover {
	color: #FFF;
	background-color: #00a4cc;
}


/* antigos */

.margin-top-10percent {
	margin-top:10%;
}

.margin-bottom-10percent {
	margin-bottom:10%;
}

.margin-top-3percent {
	margin-top:3%;
}
.margin-bottom-3percent {
	margin-bottom:3%;
}

.margin-1percent {
	margin:1%;
}

.margin-4percent {
	margin:4%;
}

.margin-top-1percent {
	margin-top:1%;
}

.margin-bottom-1percent {
	margin-bottom:1%;
}


.margin-2percent {
	margin:2%;
	z-index: 100;
}

.margin-top-2percent {
	margin-top:2%;
}

.margin-top-2percent-minus {
	margin-top:-2%;
}

.margin-bottom-2percent {
	margin-bottom:2%;
}

.margin-left-2percent {
	margin-left:2%;
}


.margin-right-2percent {
	margin-right:2%;
}

.margin-left-3percent {
	margin-left:3%;
}

.margin-top-05percent {
	margin-top:0.5%;
}


.margin-bottom-05percent {
	margin-bottom:0.5%;
}

.margin-left-05percent {
	margin-left:0.5%;
}

.margin-right-05percent {
	margin-right:0.5%;
}

.padding-1percent {
	padding: 1%;
}

.padding-4percent {
	padding: 4%;
}

.padding-top-1percent {
	padding-top: 1%;
}

.margin-top-5percent {
	margin-top:5%;
}

.borders-all {
	border: 1px solid #CCC;	
}


footer {
	background-color: #005670;
	color: #CCC;
}

footer a, footer a:visited {
	color: #CCC;
}

footer a:hover, footer a:active {
	color: #00a4cc;
	text-decoration:none;
}

.margin-footer {
	margin-top: 3%;
}

.links-footer {
	border-right: 1px solid #CCC;
}

.fale-conosco-footer {
	border-right: 1px solid #CCC;
	height: inherit;
}

.copyright {
	margin-top: 6%;
}

.redes-sociais-footer {
	text-align: center;
}

.texto-equipe-mercado-de-musica {
	color: #F7901D;
}

.lojas-online-laranja {
	background-color:#F7901D;
}

.mercadodemusica-radius {
	border-radius: 4px;
}

.p-lojas-online {
	font-size: 26px;
	margin-top:5px;
	margin-bottom:5px;
	font:#FFF; 
}

.p-lojas-online-a, .p-lojas-online-a:visited {
	color:#FFF;
}

.p-lojas-online-a:hover, .p-lojas-online-a:active {
	color:#e6e6e6;
}

.lojas-online-nav-a, .lojas-online-nav-a:visited {
	cursor: pointer;
	text-decoration:none;
}

.lojas-online-nav-a:hover, .lojas-online-nav-a:active {
	color: #666;
}


.tamanho-minimo {
	min-height: 100px;
	text-align: center;
}

.fundo-escuro {
	background: #000;
}



/* media querys */

@media (max-width: 767px) { 

	.h4-lojas-virtuais {
		text-align: center;
	}
	
	.texto-ajuste-esquerda-direita {
		text-align: left;
	}	
	
	.texto-ajuste-centro-direita {
		text-align: center;
	}
	
	.margin-top-header-logout {
		margin-top: 2%
	}
	
	
	#logo-mercadodemusica-footer {
		margin: 0 auto;
		width: 50%;
	}
	
	.texto-footer {
		text-align: center;
	}
	
	
	.margin-footer {
		margin-top: 15%;
	}
	
	.acerto-tamanho-height-footer {
		display:none;
	}
	
	.links-footer {
		border-right: none;
	}
	
	.fale-conosco-footer {
		border-right: none;
	}
	
	.microfone-nossa-proposta {
		display:none;
	}
	
	.top-main-mercado-de-musica {
		display: none;
	}
	
	.midias-sociais {
		display: none;
	}
	
}


@media (min-width: 768px) and (max-width: 991px) { 
	.texto-ajuste-esquerda-direita {
		text-align: right;
	}
	
	.texto-ajuste-centro-direita {
		text-align: right;
	}
	
	.navbar-header {
	  float: none;
	}
	.navbar-toggle {
	  display: block;
	}
	.navbar-collapse.collapse {
	  display: none!important;
	}
	.navbar-nav {
	  float: none!important;
	}
	.navbar-nav>li {
	  float: none;
	}
	.navbar-collapse.collapse.in{
	  display:block !important;
	}
	
	.margin-top-header-logout {
		margin-top: 2%;
	}
	
	.top-main-mercado-de-musica {
		display: none;
	}
	
	.midias-sociais {
		display: none;
	}
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	.texto-ajuste-esquerda-direita {
		text-align: right;
	}
	
	.texto-ajuste-centro-direita {
		text-align: right;
	}
	
	.navbar-brand {
		padding: 15px 15px 15px 0;
	}
	
	.margin-top-4percent {
		margin-top:4%; 
	}
	
	.margin-top-6percent {
		margin-top:6%; 
	}
	
	.margin-top-header-logout {
		margin-top: 2%
	}
	
	.acerto-tamanho-height-footer-md {
		display:none;
	}
	
	.midias-sociais {
		display: none;
	}
}

@media (min-width: 1200px){
	.texto-ajuste-esquerda-direita {
		text-align: right;
	}
	
	.texto-ajuste-centro-direita {
		text-align: right;
	}
	
	.navbar-brand {
		padding: 15px 15px 15px 0;
	}
	
	.margin-top-4percent {
		margin-top:4%; 
	}
	
	.margin-top-6percent {
		margin-top:6%; 
	}
	
	.margin-top-header-logout {
		margin-top: 0%
	}
	
	.acerto-tamanho-height-footer-lg {
		display:none;
	}
	
/* 	.navbar-mercado-de-musica { */
/* 		padding-bottom: 100%; */
/* 	} */
	
/* 	.navbar-collapse.collapse { */
/* 		padding-bottom: 100%; */
/* 	} */
	
/* 	.navbar-collapse { */
/* 		padding-bottom: 100%; */
/* 	} */
}

